In [36]:
import pandas as pd
import numpy as np 
import seaborn as sns
import ipywidgets as widgets 

from IPython.display import display

import matplotlib.pylab as plt
import matplotlib.mlab as mlab
import matplotlib
from matplotlib import style
plt.style.use('Solarize_Light2')
from matplotlib.pyplot import figure

%matplotlib inline
matplotlib.rcParams['figure.figsize'] = (20,8)

In [37]:
import os 

pwd = os.getcwd()

In [38]:
filepath = pwd + "SPL v1 - Klippelog_1.csv"

filepath

'c:\\Users\\bylde\\Documents\\VsStudio\\clipvolSPL v1 - Klippelog_1.csv'

In [39]:
df = pd.read_csv(r'c:\\Users\\bylde\\Documents\\VsStudio\\clipvol/SPL v1 - Klippelog_1.csv')
df

,Dato,Rute,Retning,Hul T,Liter,Klippemængde/kasse,Dug,Sygdom/tørke,Sygdom/tørke .1,Sygdom/tørke .2,...,Sygdom/tørke .4,Sygdom/tørke .5,Sygdom/tørke .6,Sygdom/tørke .7,Sygdom/tørke .8,Unnamed: 23,TRUE LOG 1,TRUE LOG 1.1,TRUE LOG 2,TRUE LOG 2.1
0,05/04/2023,Togbane,Højre-Venstre:Mod uret,8.0,NaN,"0,2",Meget,Sneskimmel,NaN,NaN,...,Sneskimmel,NaN,NaN,NaN,NaN,NaN,True,True,NaN,NaN
1,05/04/2023,Togbane,Højre-Venstre:Mod uret,1.0,NaN,"0,2",Meget,Sneskimmel,NaN,NaN,...,Sneskimmel,NaN,NaN,NaN,NaN,NaN,True,True,NaN,NaN
2,05/04/2023,Togbane,Højre-Venstre:Mod uret,4.0,NaN,"0,1",Meget,Sneskimmel,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,True,True,NaN,NaN
3,05/04/2023,Togbane,Højre-Venstre:Mod uret,5.0,NaN,"0,2",Lidt,Sneskimmel,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,True,True,NaN,NaN
4,05/04/2023,Togbane,Højre-Venstre:Mod uret,7.0,NaN,"0,2",Ingen,Sneskimmel,NaN,NaN,...,Sneskimmel,NaN,NaN,NaN,NaN,NaN,True,True,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
872,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
873,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
874,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
875,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
df.columns

Index(['Dato', 'Rute', 'Retning', 'Hul T', 'Liter', 'Klippemængde/kasse',
       'Dug', 'Sygdom/tørke ', 'Sygdom/tørke .1', 'Sygdom/tørke .2',
       'Sygdom/tørke .3', 'Unnamed: 11', 'Rute.1', 'Retning.1', 'Hul K',
       'Liter.1', 'Klippemængde/kasse.1', 'Dug.1', 'Sygdom/tørke .4',
       'Sygdom/tørke .5', 'Sygdom/tørke .6', 'Sygdom/tørke .7',
       'Sygdom/tørke .8', 'Unnamed: 23', 'TRUE LOG 1', 'TRUE LOG 1.1',
       'TRUE LOG 2', 'TRUE LOG 2.1'],
      dtype='object')

In [41]:
df = df.drop(df.loc[:,'Klippemængde/kasse':'Unnamed: 11'].columns,axis=1)

In [42]:
df = df.drop(df.loc[:,'Klippemængde/kasse.1':'TRUE LOG 2.1'].columns,axis=1)

In [43]:
df['Liter'] = df['Liter'].str.replace(',','.').astype(float)

In [48]:
df['Liter.1'] = df['Liter.1'].str.replace(',','.').astype(float)

In [49]:
df

,Dato,Rute,Retning,Hul T,Liter,Rute.1,Retning.1,Hul K,Liter.1
0,05/04/2023,Togbane,Højre-Venstre:Mod uret,8.0,NaN,Klubhus,Højre-Venstre:Mod uret,3.0,NaN
1,05/04/2023,Togbane,Højre-Venstre:Mod uret,1.0,NaN,Klubhus,Højre-Venstre:Mod uret,2.0,NaN
2,05/04/2023,Togbane,Højre-Venstre:Mod uret,4.0,NaN,Klubhus,Højre-Venstre:Mod uret,19.0,NaN
3,05/04/2023,Togbane,Højre-Venstre:Mod uret,5.0,NaN,Klubhus,Højre-Venstre:Mod uret,20.0,NaN
4,05/04/2023,Togbane,Højre-Venstre:Mod uret,7.0,NaN,Klubhus,Højre-Venstre:Mod uret,18.0,NaN
...,...,...,...,...,...,...,...,...,...
872,NaN,NaN,NaN,NaN,NaN,Klubhus,NaN,NaN,NaN
873,NaN,NaN,NaN,NaN,NaN,Klubhus,NaN,NaN,NaN
874,NaN,NaN,NaN,NaN,NaN,Klubhus,NaN,NaN,NaN
875,NaN,NaN,NaN,NaN,NaN,Klubhus,NaN,NaN,NaN
876,NaN,NaN,NaN,NaN,NaN,Klubhus,NaN,NaN,NaN

In [51]:
df = df.drop(['Retning'],axis=1)
df = df.drop(['Retning.1'],axis=1)

In [52]:
df

           Dato     Rute  Hul T  Liter   Rute.1  Hul K  Liter.1
0    05/04/2023  Togbane    8.0    NaN  Klubhus    3.0      NaN
1    05/04/2023  Togbane    1.0    NaN  Klubhus    2.0      NaN
2    05/04/2023  Togbane    4.0    NaN  Klubhus   19.0      NaN
3    05/04/2023  Togbane    5.0    NaN  Klubhus   20.0      NaN
4    05/04/2023  Togbane    7.0    NaN  Klubhus   18.0      NaN
..          ...      ...    ...    ...      ...    ...      ...
872         NaN      NaN    NaN    NaN  Klubhus    NaN      NaN
873         NaN      NaN    NaN    NaN  Klubhus    NaN      NaN
874         NaN      NaN    NaN    NaN  Klubhus    NaN      NaN
875         NaN      NaN    NaN    NaN  Klubhus    NaN      NaN
876         NaN      NaN    NaN    NaN  Klubhus    NaN      NaN

[877 rows x 7 columns]

In [56]:
df = df.dropna()

In [57]:
df['Dato'] = pd.to_datetime(df['Dato'], format='%d/%m/%Y')

df['Week'] = df['Dato'].dt.to_period('W')

week_df = df.sort_values(by='Week')

week_df

C:\Users\bylde\AppData\Local\Temp\ipykernel_22216\2929797549.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Dato'] = pd.to_datetime(df['Dato'], format='%d/%m/%Y')
C:\Users\bylde\AppData\Local\Temp\ipykernel_22216\2929797549.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Week'] = df['Dato'].dt.to_period('W')

,Dato,Rute,Hul T,Liter,Rute.1,Hul K,Liter.1,Week
60,2023-04-28,Togbane,8.0,10.0,Klubhus,3.0,4.0,2023-04-24/2023-04-30
61,2023-04-28,Togbane,1.0,10.0,Klubhus,2.0,5.0,2023-04-24/2023-04-30
62,2023-04-28,Togbane,4.0,7.0,Klubhus,19.0,4.0,2023-04-24/2023-04-30
63,2023-04-28,Togbane,5.0,14.0,Klubhus,20.0,2.0,2023-04-24/2023-04-30
64,2023-04-28,Togbane,7.0,10.0,Klubhus,18.0,3.0,2023-04-24/2023-04-30
...,...,...,...,...,...,...,...,...
650,2023-10-13,Togbane,8.0,3.0,Klubhus,3.0,5.0,2023-10-09/2023-10-15
651,2023-10-13,Togbane,1.0,4.5,Klubhus,2.0,7.0,2023-10-09/2023-10-15
652,2023-10-13,Togbane,4.0,3.5,Klubhus,19.0,9.0,2023-10-09/2023-10-15
653,2023-10-13,Togbane,5.0,5.0,Klubhus,20.0,6.0,2023-10-09/2023-10-15
659,2023-10-13,Togbane,16.0,3.0,Klubhus,17.0,3.5,2023-10-09/2023-10-15

In [61]:
week_df.groupby('Week')[['Liter','Liter.1']].agg(['min','max','mean','sum'])

                      Liter                         Liter.1                   \
                        min   max       mean    sum     min   max       mean
Week
2023-04-24/2023-04-30   2.0  14.0   8.800000   88.0     2.0   7.0   4.400000
2023-05-01/2023-05-07   2.0  12.5   5.500000  165.0     3.0  21.0  10.083333
2023-05-08/2023-05-14   3.0  22.0  10.175000  203.5     5.0  24.0  14.775000
2023-05-15/2023-05-21   4.0  33.0  12.833333  385.0     7.5  27.0  16.250000
2023-05-22/2023-05-28   2.5  32.0  10.478571  733.5     2.5  41.0   9.807143
2023-05-29/2023-06-04   4.0  21.0  10.500000  315.0     4.0  29.0   8.533333
2023-06-05/2023-06-11   5.0  24.0  11.586207  336.0     5.0  35.0  10.241379
2023-06-12/2023-06-18   3.0  18.0   8.416667  252.5     3.0  20.0   7.950000
2023-06-19/2023-06-25   4.0  36.0  17.038462  664.5     4.5  36.0  13.371795
2023-06-26/2023-07-02   5.0  27.0  16.052632  610.0     5.0  46.0  20.605263
2023-07-03/2023-07-09   1.5  16.0   7.583333  136.5     3.0  14.0   9.000000
2023-07-10/2023-07-16   6.0  39.0  18.283333  548.5     8.0  30.0  19.066667
2023-07-24/2023-07-30   0.5  66.0  23.300000  699.0     0.5  66.0  18.016667
2023-07-31/2023-08-06   7.5  42.0  18.316667  549.5     9.0  49.5  25.416667
2023-08-07/2023-08-13   4.0  32.0  15.350000  460.5     2.0  56.0  16.916667
2023-08-14/2023-08-20   4.0  15.0   9.375000  187.5     8.0  25.0  15.850000
2023-09-04/2023-09-10   1.5   5.0   3.800000   38.0     0.5  11.0   7.650000
2023-09-18/2023-09-24   0.5   6.0   4.650000   46.5    10.0  19.0  14.700000
2023-09-25/2023-10-01   1.0   5.5   3.275000   65.5     0.5  12.0   8.675000
2023-10-09/2023-10-15   3.0  10.0   4.833333   29.0     3.5   9.0   6.500000


                         sum
Week
2023-04-24/2023-04-30   44.0
2023-05-01/2023-05-07  302.5
2023-05-08/2023-05-14  295.5
2023-05-15/2023-05-21  487.5
2023-05-22/2023-05-28  686.5
2023-05-29/2023-06-04  256.0
2023-06-05/2023-06-11  297.0
2023-06-12/2023-06-18  238.5
2023-06-19/2023-06-25  521.5
2023-06-26/2023-07-02  783.0
2023-07-03/2023-07-09  162.0
2023-07-10/2023-07-16  572.0
2023-07-24/2023-07-30  540.5
2023-07-31/2023-08-06  762.5
2023-08-07/2023-08-13  507.5
2023-08-14/2023-08-20  317.0
2023-09-04/2023-09-10   76.5
2023-09-18/2023-09-24  147.0
2023-09-25/2023-10-01  173.5
2023-10-09/2023-10-15   39.0

In [67]:
grouped_df = week_df.groupby(['Hul T','Week'])['Liter'].agg('sum').reset_index()

pivot_df = grouped_df.pivot(index='Hul T',columns='Week',values='Liter')

pivot_df

Week,2023-04-24/2023-04-30,2023-05-01/2023-05-07,2023-05-08/2023-05-14,2023-05-15/2023-05-21,2023-05-22/2023-05-28,2023-05-29/2023-06-04,2023-06-05/2023-06-11,2023-06-12/2023-06-18,2023-06-19/2023-06-25,2023-06-26/2023-07-02,2023-07-03/2023-07-09,2023-07-10/2023-07-16,2023-07-24/2023-07-30,2023-07-31/2023-08-06,2023-08-07/2023-08-13,2023-08-14/2023-08-20,2023-09-04/2023-09-10,2023-09-18/2023-09-24,2023-09-25/2023-10-01,2023-10-09/2023-10-15
Hul T,,,,,,,,,,,,,,,,,,,,
1.0,10.0,22.0,26.0,47.0,84.0,36.0,34.0,19.0,64.0,73.0,12.0,56.0,76.0,56.0,37.0,16.0,3.5,5.0,5.5,4.5
4.0,7.0,12.5,12.0,26.0,46.0,21.0,24.0,16.0,43.0,48.0,11.0,46.0,56.5,55.0,40.0,16.5,3.5,5.0,6.5,3.5
5.0,14.0,25.0,24.5,55.0,111.0,46.0,49.0,39.0,83.5,76.0,18.0,69.5,101.0,77.0,59.0,20.5,4.0,5.0,7.0,5.0
6.0,10.0,12.0,22.0,36.0,85.0,31.0,50.0,39.0,96.0,59.0,5.0,74.5,90.0,69.5,62.0,25.0,5.0,6.0,8.5,NaN
7.0,10.0,18.0,21.0,37.0,109.0,38.0,38.0,29.5,87.0,62.0,23.0,66.0,84.0,57.0,58.0,25.0,4.0,5.0,6.0,10.0
8.0,10.0,22.5,29.0,43.0,78.0,29.0,30.0,23.5,65.0,61.0,12.0,32.0,62.0,43.5,28.0,10.0,1.5,5.0,4.5,3.0
11.0,12.0,17.5,22.0,40.0,83.0,34.0,35.0,27.0,67.5,79.0,21.0,58.5,81.0,65.5,54.0,23.5,4.5,6.0,7.5,NaN
14.0,8.0,11.0,17.0,33.0,81.0,29.0,31.0,23.0,55.5,57.0,15.0,32.0,61.0,49.0,48.0,19.0,4.5,0.5,6.5,NaN
15.0,2.0,9.5,13.0,32.0,23.0,21.0,16.0,15.0,38.0,37.0,7.5,46.0,31.5,32.5,35.0,13.0,3.0,4.0,4.5,NaN
16.0,5.0,15.0,17.0,36.0,33.5,30.0,29.0,21.5,65.0,58.0,12.0,68.0,56.0,44.5,39.5,19.0,4.5,5.0,9.0,3.0

In [68]:
grouped_df = week_df.groupby(['Hul K','Week'])['Liter'].agg('sum').reset_index()

pivot_df = grouped_df.pivot(index='Hul K',columns='Week',values='Liter')

pivot_df

Week,2023-04-24/2023-04-30,2023-05-01/2023-05-07,2023-05-08/2023-05-14,2023-05-15/2023-05-21,2023-05-22/2023-05-28,2023-05-29/2023-06-04,2023-06-05/2023-06-11,2023-06-12/2023-06-18,2023-06-19/2023-06-25,2023-06-26/2023-07-02,2023-07-03/2023-07-09,2023-07-10/2023-07-16,2023-07-24/2023-07-30,2023-07-31/2023-08-06,2023-08-07/2023-08-13,2023-08-14/2023-08-20,2023-09-04/2023-09-10,2023-09-18/2023-09-24,2023-09-25/2023-10-01,2023-10-09/2023-10-15
Hul K,,,,,,,,,,,,,,,,,,,,
2.0,10.0,22.0,26.0,47.0,84.0,36.0,34.0,19.0,64.0,73.0,12.0,56.0,76.0,56.0,37.0,16.0,3.5,5.0,5.5,4.5
3.0,10.0,22.5,29.0,43.0,78.0,29.0,30.0,23.5,65.0,61.0,12.0,32.0,62.0,43.5,28.0,10.0,1.5,5.0,4.5,3.0
9.0,12.0,17.5,22.0,40.0,83.0,34.0,35.0,27.0,67.5,79.0,21.0,58.5,81.0,65.5,54.0,23.5,4.5,6.0,7.5,NaN
10.0,10.0,12.0,22.0,36.0,85.0,31.0,50.0,39.0,96.0,59.0,5.0,74.5,90.0,69.5,62.0,25.0,5.0,6.0,8.5,NaN
12.0,8.0,11.0,17.0,33.0,81.0,29.0,31.0,23.0,55.5,57.0,15.0,32.0,61.0,49.0,48.0,19.0,4.5,0.5,6.5,NaN
13.0,2.0,9.5,13.0,32.0,23.0,21.0,16.0,15.0,38.0,37.0,7.5,46.0,31.5,32.5,35.0,13.0,3.0,4.0,4.5,NaN
17.0,5.0,15.0,17.0,36.0,33.5,30.0,29.0,21.5,65.0,58.0,12.0,68.0,56.0,44.5,39.5,19.0,4.5,5.0,9.0,3.0
18.0,10.0,18.0,21.0,37.0,109.0,38.0,38.0,29.5,87.0,62.0,23.0,66.0,84.0,57.0,58.0,25.0,4.0,5.0,6.0,10.0
19.0,7.0,12.5,12.0,26.0,46.0,21.0,24.0,16.0,43.0,48.0,11.0,46.0,56.5,55.0,40.0,16.5,3.5,5.0,6.5,3.5
20.0,14.0,25.0,24.5,55.0,111.0,46.0,49.0,39.0,83.5,76.0,18.0,69.5,101.0,77.0,59.0,20.5,4.0,5.0,7.0,5.0